@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Paytone+One&family=Protest+Strike&family=Staatliches&display=swap");
.SCnotification {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  width: 70%;
  /* height: 6rem; */
  padding: 0.5em;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  /* font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif; */
  font-family: "Protest Strike", sans-serif;
  font-family: "Staatliches", sans-serif;
  font-size: 0.9em;
  --gradient: linear-gradient(to bottom, #2eadff, #0096ff, #3d83ff);
  --color: #0096ff;
}

.SCnotification:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2;
}

.SCnotification:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.SCnotification:hover:after {
  transform: translateX(0.15rem);
}

.SCnotititle {
  color: var(--color);
  padding: 0.1rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.SCnotification:hover .SCnotititle {
  transform: translateX(0.15rem);
}

.SCnotibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.SCnotification:hover .SCnotibody {
  transform: translateX(0.25rem);
}

.SCnotiglow,
.SCnotiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle closest-side at center,
    white,
    transparent
  );
  opacity: 0;
  transition: opacity 300ms ease;
}

.SCnotiglow {
  z-index: 3;
}

.SCnotiborderglow {
  z-index: 1;
}

.SCnotification:hover .SCnotiglow {
  opacity: 0.1;
}

.SCnotification:hover .SCnotiborderglow {
  opacity: 0.1;
}

.SCnote {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
}

@media (max-width: 600px) {
  .SCnotification {
    width: 95%;
    padding: 1em;
  }
}
